.mod-facts h1 {
  margin: 5px;
  padding: 10px;
  text-align: center;
  color: #0096c1;
}

.mod-facts .con-progress {
  flex: 0 auto !important;
  text-align: center;
}

.mod-facts .con-progress h3,
.mod-facts .con-progress button {
  display: inline-block;
}

.mod-facts .con-progress button {
  width: 80%;
}

.mod-facts .current-fact {
  margin-top: 10px;
  padding: 10px;
  max-height: 210px;
  border-radius: 8px;
  font-size: 16px;
}

.mod-facts .current-fact span {
  /* background-color: #bff4ff; */
  padding: 0px 5px;
}

.mod-facts .current-fact #goal span.pe1Color {
  background-color: rgba(255, 255, 0, 0.5);
}

.mod-facts .current-fact #goal span.pe2Color {
  background-color: rgba(0, 128, 0, 0.5);
}

.mod-facts .current-fact #goal span.ne1Color {
  background-color: rgba(128, 0, 128, 0.5);
}

.mod-facts .current-fact #goal span.ne2Color {
  background-color: rgba(255, 0, 0, 0.5);
}

.mod-facts #con-material-dispenser .material-slot {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#con-material-dispenser .header,
#con-material-dispenser p {
  text-align: center;
  color: #efe158;
  margin: 10px 0;
}

#con-material-dispenser > p {
  margin: 5px 0;
  opacity: 0.8;
}

#con-material-dispenser .material-desc {
  margin: 0 10px 0 0;
  width: 50%;
}
