.mod-facts h1 {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.mod-facts .con-progress {
  flex: 0 auto !important;
  text-align: center;
}

.mod-facts .con-progress h3,
.mod-facts .con-progress button {
  display: inline-block;
}

.mod-facts .con-progress button {
  width: 80%;
}

.mod-facts .current-fact {
  margin-top: 10px;
  padding: 10px;
  max-height: 280px;
  border-radius: 8px;
  font-size: 16px;
}

.mod-facts .current-fact span {
  background-color: #bff4ff;
  padding: 0px 10px;
}

.mod-facts .current-fact #goal span.pColor {
  background-color: #efe158;
}

.mod-facts .current-fact #goal span.mColor {
  background-color: #a6e22e;
}

.mod-facts .current-fact #goal span.cColor {
  background-color: #ae81ff;
}

.mod-facts .current-fact #goal span.aColor {
  background-color: #ec007c;
}

.mod-facts #con-material-dispenser .material-slot {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#con-material-dispenser .header {
  text-align: center;
  color: #efe158;
  margin: 10px 0;
}

#con-material-dispenser .material-desc {
  margin: 0 10px 0 0;
  width: 50%;
}