.mod-rslt {
  display: block;
}

.mod-rslt .con-groups {
  max-height: 280px;
}

.mod-rslt .con-groups .group {
  border: 2px solid #66d9ef;
  color: #66d9ef;
  margin-top: 10px;
  padding: 0px 10px;
}

.mod-rslt .con-groups #groupA {
  border: 2px solid #ae81ff;
  color: #ae81ff;
}

.mod-rslt .con-groups #groupB {
  border: 2px solid #a6e22e;
  color: #a6e22e;
}

.mod-rslt .con-groups h2,
.mod-rslt .con-groups h3 {
  display: inline-block;
}

.mod-rslt button {
  background: #ae81ff;
  color: #efe158;
  width: 100%;
  margin-top: 30px;
  font-size: 16px;
}

.mod-rslt button:active {
  background-color: #efe158;
  color: #ae81ff;
}

.mod-rslt button:disabled {
  background-color: #999999;
  color: #f8f8f2;
}