.sentibar {
  display: flex;
}

.sentibar .cell {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  position: relative;
  background-color: #f8f8f2;
}

.sentibar .cell span {
  position: absolute;
  top: -32px;
  transform: translateX(-50%);
  color: #f8f8f2;
  font-weight: normal;
}

.sentibar .pe1 span {
  color: #fbfb79;
}
.sentibar .pe2 span {
  color: #7cbc79;
}
.sentibar .ne1 span {
  color: #bc7cb9;
}
.sentibar .ne2 span {
  color: #fb7c79;
}

.sentibar .cell .value {
  position: relative;
  color: #00303e;
}

.sentibar .cell .fill {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  opacity: 0.5;
}

.sentibar .pe1 .fill {
  background-color: yellow;
}

.sentibar .pe2 .fill {
  background-color: green;
}

.sentibar .ne1 .fill {
  background-color: purple;
}

.sentibar .ne2 .fill {
  background-color: red;
}